/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utilities  */


/* flex */
.flexed{
    display: flex;
    justify-content: space-between;
    align-content: center;
}


.col {
    flex: 1;
    padding: 20px;
    margin: 10px;
    background-color: #17a2b8;
}

.col-2{
    flex: 2;
    padding: 20px;
    margin: 10px;
    background-color: #17a2b8;
}

.col-3{
    flex: 3;
    padding: 20px;
    margin: 10px;
    background-color: #17a2b8;
}

  /* Fixed width container class that will "auto-center" itself */
.container{
    width: 1200px;
    margin: 0 auto;
}




/* defaults */
.btn{
    background-color: #2b77e4;
    color: white;
    width: 200px ;
    height: 45px ;
    border: 3px solid;
    border-color: #000000;
    margin-left: 50px;
    margin-top: 20px;
    padding: 0px;
    font-size: 17px;
    font-weight: lighter;
    box-shadow: 5px 5px black;
}

/* nav-bar */

.nav{
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}    

.nav-title{
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 20px;  
}


.nav-links{
    align-items: flex-end;
    justify-content: space-evenly;
    display: flex;
    align-items: flex-end;
    padding: 10px;
    margin: 10px;
    width: 30%;
    align-items: center;
}
